{%load static %}
{% static "" as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "styles/all.css" %}' type="text/css">
  <link rel="stylesheet" href='{% static "styles/navRes.css" %}' type="text/css">
  <link rel="stylesheet" href='{% static "styles/pstyle.css" %}' type="text/css">
  <link rel="stylesheet" href='{% static "styles/video.css" %}' type="text/css">

  <title>Elearning App</title>
</head>

<body>
  <div>
    <h1 class='ptitle'><i class="fas fa-book-reader"></i> E-LEARNING SYSTEM</h1>
  </div>


  <div class="topnav" id="myTopnav">
    <a href='home1'><i class="fa fa-fw fa-home"></i> Home</a>
    {% if user.is_authenticated %}
    <a href='logout'><i class="fa fa-user-circle"></i> Log Out</a>
    {% else %}
    <a href='register'><i class="fas fa-sign-in-alt"></i> Register</a>
    <a href='login'><i class="fa fa-user-circle"></i> Log In</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="videos-list">
    {% for video in videos %}
    <div class='vid'>
      <video width='320' height='240' controls>
        <source src="{{video.videofile.url}}">
        Your browser does not support the video tag.
      </video>
      <h2>{{video.name}}</h2>
    </div>
    {% endfor %}
    <div class='psoft'>
        <a href="uvideo" class='box soft'>
          <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-plus"></i><br> Add Video</h2>
        </a>
    </div>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>