{% load static %}
{% static "" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "styles/all.css" %}' type="text/css">
	<link rel="stylesheet" href='{% static "styles/video.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "styles/pstyle.css" %}' type="text/css">

    <title>Document</title>
</head>
<body>
 <div>
 <h1 class='ptitle'><i class="fas fa-book-reader"></i> E-LEARNING SYSTEM</h1>
 </div>
     

<div class="navbar">
  <a class="active" href='home1'><i class="fa fa-fw fa-home"></i> Home</a>
  
  <div class='rnavbar'>
    {% if user.is_authenticated %}
    <a href='logout'><i class="fa fa-user-circle"></i> Log Out</a>
    {% else %}
    <a href='register'><i class="fas fa-sign-in-alt"></i> Register</a>
    <a href='login'><i class="fa fa-user-circle"></i> Log In</a>

   {% endif %}
  </div>
</div> 


<div class='vid'>

<div>
<video width='320' height= '240' controls>
<source src="{{a.videofile.url}}">
Your browser does not support the video tag.
</video>
<h2>{{a.name}}</h2>
</div>


</body>
</html>